{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="{% static "css\output.css" %}">
</head>
<body>
    <div class="w-1/2 mx-auto mt-8">
        <div>
            {% if message %}
                <p>
                    {{message}}
                </p>
            {% endif %}
        </div>
        <form method="POST">
            {% comment %} <input type="text" placeholder="Enter Kichu Ekta" class="bg-gray-300 w-full rounded-md"> {% endcomment %}
            {% csrf_token %}
            {% comment %} <label for="">Enter your Name:</label><br>
            <input type="text" name="title" id=""><br>
            <label for="">Enter your Number</label><br>
            <input type="number" name="number" id="">
            <br><br> {% endcomment %}
            {{form.as_p}}
            <button type="submit" class="bg-rose-600 text-white px-3 py-2 rounded-md mt-2">Submit</button>
        </form>
    </div>
</body>
</html>